<div class="container">

<div class="sidebar">
    <img src="images/fvrt.jpg" alt="aizy picture" class="aizy-pic"/>

    <h3 class="special-font">Aizy khan</h3>

    <nav class="nav">
      <a href="/" class="home <% if(page_name=='home') {%> active <% }%> ">Home</a>
      <a href="/service" class="service  <% if(page_name=='service') {%> active <% }%>">services</a>
      <a href="/skill" class="skill <% if(page_name=='skill') {%> active <% }%>">skills</a>
      <a href="/contact" class="contact <% if(page_name=='contact') {%> active <% }%> ">contact</a>
    </nav>
  </div>