<%-include('./partials/header.ejs')%> 


<%-include('./partials/sideBar.ejs', {page_name:'home'})%> 
    
    <div class="home-main">
    
      <div class="image-box">
        <img src="images/fvrt.jpg" alt="azaz khan picture">
      </div>

      <div class="text-box">
        <h3>hello,</h3>
        <div class="texts">
        <p>I am <span> Azaz ali</span> having 2 years of full stack web development experience. I offer many good and well design websites.</p>
        <p> I am still a student of bcs 5th semester at university of <span> abdul wali khan university mardan</span> I passes fsc from my home town village adina college shoukat memorial higher secondary school (kalu khan) in subject of pre-engineering with very good marks alhamdulillah</p>

        <p>And now Iam a web developer <span>alhamdulillah</span> iam working in html5,css3,javaScript with ES6 syntax,node JS and express JS.</p>


        <div class="btn-box">
       <a href="/contact" class="hire-btn">Hire me</a>
       <a href="/contact" class="contact-btn">Contact</a>
      </div>
      </div>
      </div>
    </div>
</div>


<%-include('./partials/footer.ejs')%>
