<%-include('./partials/header.ejs')%>
<%-include('./partials/sideBar.ejs',{page_name:'service'})%> 
    
<div class="service-main">
<h3 class="page-title">services</h3>
<hr>
<div class="service-details">
    <div class="service service-web">
        <ion-icon class="service-icon" name="code-slash-outline"></ion-icon>
        <h4 class="service-name">web development</h4>
        <p class="service-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eius quas!</p>
    </div>

    <div class="service service-design">
        <ion-icon class="service-icon" name="color-palette-outline"></ion-icon>
        <h4 class="service-name">web design</h4>
        <p class="service-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eius quas!</p>
    </div>

    <div class="service service-host">
        <ion-icon class="service-icon" name="albums-outline"></ion-icon>
        <h4 class="service-name">hosting</h4>
        <p class="service-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eius quas!</p>
    </div>

    <div class="service service-ads">
        <ion-icon class="service-icon" name="headset-outline"></ion-icon>
        <h4 class="service-name">advertising</h4>
        <p class="service-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eius quas!</p>
    </div>

    <div class="service service-logo-design">
        <ion-icon class="service-icon" name="pencil-outline"></ion-icon>
        <h4 class="service-name">logo design</h4>
        <p class="service-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eius quas!</p>
    </div>

    <div class="service service-git">
        <ion-icon class="service-icon" name="git-compare-outline"></ion-icon>
        <h4 class="service-name">Github</h4>
        <p class="service-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eius quas!</p>
    </div>
</div>


</div>
</div>
 <%-include('./partials/footer.ejs')%>
