<%-include('./partials/header.ejs')%>
<%-include('./partials/sideBar.ejs', {page_name:'skill'})%> 
    
    <div class="skill-main">
    <h3 class="page-title">skills</h3>
    <hr>

    <div class="skills">
        <div class="skill-html">
            <h4 class="skill-name">Html/Css</h4>
            <div class="skill-bar " per="100%"></div>
    </div>

<div class="skill-javascript">
    <h4 class="skill-name">javaScript</h4>
    <div class="skill-bar-js " per="90%"></div>
</div>
    
<div class="skill-nodejs">
    <h4 class="skill-name">node js</h4>
    <div class="skill-bar-nodejs " per="95%"></div>
</div>

<div class="skill-expressjs">
    <h4 class="skill-name">express js</h4>
    <div class="skill-bar-expressjs " per="95%"></div>
</div>
    
  </div>
 </div>
</div>
 <%-include('./partials/footer.ejs')%>
